$background-color: #fed;

body {
	background: $background-color;
}

.icon {
	width: 200px;
	height: 150px;
	background-image: url('../assets/svg/eyeglasses.svg');
	box-shadow: 2px 2px 2px black;
	border-radius: 4px;
}